# Python
__pycache__/
*.py[cod]
*$py.class

# Distribution / Build
build/
dist/
*.spec
*.exe

# Kobo Database
KoboReader.sqlite
*.sqlite-shm
*.sqlite-wal

# Output
Annotations/

# IDEs
.vscode/
.idea/

# Astro

dist/
.astro/
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
.env
.env.production
.DS_Store
