---
import Layout from '../layouts/Layout.astro';
import { getGroupedAnnotations } from '../db';

const tree = getGroupedAnnotations();
const authors = Object.keys(tree).sort();
---

<Layout title="Authors | Kobo Annotations">
	<h1>Authors</h1>
	
	<div class="grid">
		{authors.map((author) => (
			<a href={`/${author}/`} class="card">
				<h2 style="font-size: 1.25rem;">{author}</h2>
				<p style="color: var(--text-secondary);">
					{Object.keys(tree[author]).length} Book{Object.keys(tree[author]).length !== 1 ? 's' : ''}
				</p>
			</a>
		))}
	</div>
</Layout>

<style>
	.grid {
		display: grid;
		grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
		gap: 1.5rem;
	}
	a.card {
		display: block;
		text-decoration: none;
		color: inherit;
	}
</style>
